{% extends "shared/_layout.html" %}
{% block title %}Rejestracja{% endblock %}
{% block main_content %}
    <div class="main">
        <div class="form-wrapper">
            <form method="POST">
                <h2>Rejestracja</h2>
                <input class="form-control" type="text" name="name" placeholder="Imie i nazwisko" required
                       value="{{ name }}">
                <input class="form-control" type="email" name="email" placeholder="Email" required value="{{ email }}">
                <input class="form-control" type="password" name="password" placeholder="Hasło" required
                       value="{{ password }}">
                <input class="form-control" type="password" name="confirm" placeholder="Powtórz hasło " required
                       value="{{ password }}">
                <label class="form-control" for="is_teacher">Nauczyciel</label>
                <input class="form-control" type="checkbox" name="is_teacher">
                <div class="actions">
                    <button type="submit" class="bt btn-info btn-sm">Stwórz konto</button>
                </div>
                <div class="error-msg">
                    {% if error %}
                        <div class="error-msg">{{ error }}</div>
                    {% endif %}
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for msg in messages %}
                                <p>{{ msg }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}