{% extends "shared/_layout.html" %}
{% block title %}Add lesson{% endblock %}
{% block main_content %}
    <div class="main">
        <div class="form-wrapper">
            <form method="POST">
                <h2>Add lesson</h2>
                <input class="form-control" type="text" name="name" placeholder="Nazwa zajęć" required
                       value="{{ name }}">
                <select class="form-control" id="lesson_type" name="lesson_type">
                    <option value="" disabled selected>Rodzaj zajęć</option>
                    {% for type in info.lesson_types %}
                        <option value="{{ type }}">{{ type }}</option>
                    {% endfor %}
                </select>
                <input class="form-control" type="datetime-local" name="start_time" placeholder="Godzina rozpoczęcia"
                       required value="{{ time }}">
                <input class="form-control" type="datetime-local" name="end_time" placeholder="Godzina zakończenia" required
                       value="{{ end_time }}">
                <select class="form-control" id="frequency" name="frequency">
                    <option value="" disabled selected>Występowanie</option>
                    {% for type in info.frequency %}
                        <option value="{{ type }}">{{ type }}</option>
                    {% endfor %}
                </select>
                <select class="form-control" id="teacher" name="teacher">
                    <option value="" disabled selected>Prowadzący</option>
                    {% for type in info.teachers %}
                        <option value="{{ type }}">{{ type }}</option>
                    {% endfor %}
                </select>
                <select class="form-control" id="studies_type" name="studies_type">
                    <option value="" disabled selected>Kierunek studiów</option>
                    {% for type in info.studies_types %}
                        <option value="{{ type }}">{{ type }}</option>
                    {% endfor %}
                </select>
                <input class="form-control" type="text" name="group" placeholder="Grupa" required value="{{ group }}">
                <input class="form-control" type="text" name="section" placeholder="Sekcja" required
                       value="{{ section }}">
                <div class="actions">
                    <button type="submit" class="bt btn-info btn-sm">Dodaj zajęcia</button>
                </div>
                <div class="error-msg">
                    {% if error %}
                        <div class="error-msg">{{ error }}</div>
                    {% endif %}
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for msg in messages %}
                                <p>{{ msg }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}